<%= form_for @subscriber, local: true, data: { turbo: false }  do |form| %>
  <% flash.each do |name, msg| %>
    <% if msg.is_a?(String) %>
      <div class="notice <%= name %>">
        <%= msg %>
      </div>
    <% end %>
  <% end %>
  <div class="mx-auto mt-10 flex max-w-md gap-x-4">
    <%= form.email_field :email,
                  id: "email-address",
                  autocomplete: "email",
                  required: true,
                  class: "min-w-0 flex-auto rounded-md border-0 bg-stone-100 px-3.5 py-2 shadow-sm ring-1 ring-inset ring-white/10 focus:ring-2 focus:ring-inset focus:ring-white sm:text-sm sm:leading-6 placeholder-stone-400",
                  placeholder: "Enter your email" %>
    <%= form.submit "Notify me",
                   ype: "submit", 
                  class: "flex-none rounded-md bg-stone-100 px-3.5 py-2.5 text-sm font-semibold text-gray-900 shadow-sm hover:bg-gray-100 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-white" %>
  </div>
<% end %>
<%# need to edit view after clicking the button to subsribe new_subscriber %>
