<%# 
The main application view will not have its own file, it will stay in the layouts section because 
it IS A LAYOUT. THE BASE LAYOUT. 
It is not content-- which should be stored in the view folder of the controller under index.html.erb.
%>
<!DOCTYPE html>
<html class="h-full bg-stone-100">
  <head>
    <title>pol.bot</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag 'bundle' %>
    <%= javascript_importmap_tags %>
  </head>
  <%# landing page %>
  <body>
    <header class="relative">
      <div class="bg-stone-300 pt-6 pb-6">
        <nav class="relative mx-auto flex max-w-5xl items-center justify-between px-6" aria-label="Global">
          <div class="flex flex-1 items-center">
            <div class="flex w-full items-center justify-between md:w-auto">
              <%= link_to(root_path) do %>
                <span class="sr-only">pol.bot</span>
                <img class="h-8 w-auto sm:h-10" src=<%= image_path'polbotlogo.png' %> alt="polbotlogo">
              <% end %>
              <div class="-mr-2 flex items-center md:hidden">
                <button type="button" class="focus-ring-inset relative inline-flex items-center justify-center bg-stone-900 p-2 text-stone-400 hover:bg-stone-800 focus:outline-none focus:ring-2 focus:ring-white" aria-expanded="false">
                  <span class="absolute -inset-0.5"></span>
                  <span class="sr-only">Open main menu</span>
                  <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                  </svg>
                </button>
              </div>
            </div>
            <div class="hidden space-x-8 md:ml-10 md:flex">
              <a href="<%= root_path %>" class="text-base font-medium text-stone-700 hover:text-stone-600" data-method="post"></a>
              <!-- <a href="<%= pricing_path %>" class="text-base font-medium text-stone-700 hover:text-stone-600" data-method="post">Pricing</a> -->
            </div>
          </div>
          <div class="hidden md:flex md:items-center md:space-x-6">
            <span class="inline-flex items-center border border-transparent bg-white px-4 py-2 text-base font-medium text-stone-700 hover:bg-stone-400"></a>
            <div data-controller="hashconnect"
                              data-hashconnect-app-name-value="pol.bot"
                              data-hashconnect-app-description-value="Proof of Location"
                              <%# data-hashconnect-app-icon-value="Image URL" %>
                              data-hashconnect-app-url-value="https://pol.bot"
                              data-hashconnect-project-id-value="1d96abff8024054077a76052af91b46d">
              <button data-action="click->hashconnect#initHashConnect">
                Connect Wallet
              </button>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <%= yield %>
    <!--footer application.html.erb-->
    <footer class="bg-stone-300" aria-labelledby="footer-heading">
      <h2 id="footer-heading" class="sr-only">Footer</h2>
      <div class="mx-auto max-w-md px-6 pt-12 sm:max-w-5xl lg:px-8 lg:pt-12">
        <div class="xl:grid xl:grid-cols-3 xl:gap-8">
          <div class="space-y-8 xl:col-span-1">
            <%= link_to(root_path) do %>
              <img class="h-10" src=<%= image_path'polbotlogo.png' %> alt="polbotlogo">
            <% end %>
          </div>
          <div class="mt-12 grid grid-cols-2 gap-8 xl:col-span-2 xl:mt-0">
            <div class="md:grid md:grid-cols-2 md:gap-8">
              <div>
                <h3 class="text-base font-medium text-stone-900">Company</h3>
                <ul role="list" class="mt-4 space-y-4">
                  <li>
                    <%= link_to 'about' do %>
                      <span class="text-base text-stone-200 hover:text-stone-900">About</span>
                    <% end %>
                  </li>
                </ul>
              </div>
              <div class="mt-12 md:mt-0">
                <h3 class="text-base font-medium text-stone-900">Support</h3>
                <ul role="list" class="mt-4 space-y-4">
                  <li>
                    <%= link_to 'pricing' do %>
                      <span class="text-base text-stone-500 hover:text-stone-900">Pricing</span>
                    <% end %>
                  </li>
                  <li>
                    <a href="#" class="text-base text-stone-500 hover:text-stone-900">Contact Us</a>
                  </li>
                  <li>
                    <a href="#" class="text-base text-stone-500 hover:text-stone-900">API Status</a>
                  </li>
                </ul>
              </div>
            </div>
            <%# Additional footer categories %>
            <%# <div class="md:grid md:grid-cols-2 md:gap-8">
              <div>
                <h3 class="text-base font-medium text-stone-900">Solutions</h3>
                <ul role="list" class="mt-4 space-y-4">
                  <li>
                    <a href="#" class="text-base text-stone-500 hover:text-stone-900">Marketing</a>
                  </li>
                  <li>
                    <a href="#" class="text-base text-stone-500 hover:text-stone-900">Analytics</a>
                  </li>
                  <li>
                    <a href="#" class="text-base text-stone-500 hover:text-stone-900">Commerce</a>
                  </li>
                  <li>
                    <a href="#" class="text-base text-stone-500 hover:text-stone-900">Insights</a>
                  </li>
                </ul>
              </div>
              <div class="mt-12 md:mt-0">
                <h3 class="text-base font-medium text-stone-900">Legal</h3>
                <ul role="list" class="mt-4 space-y-4">
                  <li>
                    <a href="#" class="text-base text-stone-500 hover:text-stone-900">Claim</a>
                  </li>
                  <li>
                    <a href="#" class="text-base text-stone-500 hover:text-stone-900">Privacy</a>
                  </li>
                  <li>
                    <a href="#" class="text-base text-stone-500 hover:text-stone-900">Terms</a>
                  </li>
                </ul>
              </div>
            </div> %>
          </div>
        </div>
        <div class="mt-12 border-t border-stone-200 py-8">
          <p class="text-base text-stone-400 xl:text-center">&copy; 2024 pol.bot All rights reserved.</p>
        </div>
      </div>
    </footer>
  </body>
</html>
